# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

(authenticate) {
	reverse_proxy /outpost.goauthentik.io/* {$AUTHENTIK_URL}

	forward_auth {$AUTHENTIK_URL} {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}
}

*.codeonit.com {

	tls {
		dns namecheap {
			api_key {$NAMECHEAP_API_KEY}
			user {$NAMECHEAP_USER}
		}
	}

	@dockge host dockge.codeonit.com
	handle @dockge {
		import authenticate
		reverse_proxy {$DOCKGE_URL}
	}

	@ddnsupdater host ddnsupdater.codeonit.com
	handle @ddnsupdater {
		import authenticate
		reverse_proxy {$DDNSUPDATER_URL}
	}

	@openwebui host openwebui.codeonit.com
	handle @openwebui {
		import authenticate
		reverse_proxy {$OPENWEBUI_URL}
	}

	@apps host apps.codeonit.com
	handle @apps {
		reverse_proxy {$AUTHENTIK_URL}
	}
}

# :80 {
	# Set this path to your site's directory.
	# root * /usr/share/caddy

	# Enable the static file server.
	# file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
# }

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile